﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Edit.aspx.cs" Inherits="WebToDo.Edit" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            width: 732px;
        }
    </style>
</head>
<body style="width: 748px">
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="lblDescription" runat="server" Text="Description:"></asp:Label>
&nbsp;
        <asp:TextBox ID="tbDescrition2" runat="server"></asp:TextBox>
        <br /><br />

    
    </div>
        <asp:Label ID="Label1" runat="server" Text="Due Date:"></asp:Label>
&nbsp;
        <asp:TextBox ID="tbdueDate2"   runat ="server"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="is Done:"></asp:Label>
&nbsp;&nbsp;<asp:CheckBox ID="CheckBox1" runat="server" />
        <br />
        <br />
&nbsp;
        <asp:Button ID="Button1" runat="server" Text="Save" />
&nbsp;
        <asp:Button ID="Button2" runat="server" Text="Delete" />
        <br />
    </form>
</body>
</html>
