﻿@model IEnumerable<Quiz2TravelMVC.Models.Travel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Genre: @Html.DropDownList("GenderString", "All")
        Search: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComfortClass)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Age)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PassportNo)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DepartDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FromAirport)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ToAirport)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ComfortClass)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
