﻿@model SayHello.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SayHello</title>
</head>
<body>
    <div>
         <p>
             Hello @Model.Name, you are @Model.Age years old.
         </p>
    </div>
</body>
</html>
