﻿@model CarsMVCLinq.Models.Car

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Car</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Make, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Make)
                    @Html.ValidationMessageFor(model => model.Make)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Model, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Model)
                    @Html.ValidationMessageFor(model => model.Model)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Plates, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Plates)
                    @Html.ValidationMessageFor(model => model.Plates)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Yop, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Yop)
                    @Html.ValidationMessageFor(model => model.Yop)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.OwnerId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OwnerId)
                    @Html.ValidationMessageFor(model => model.OwnerId)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
