﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<h2>Animal Care</h2>
<p>@Html.ActionLink("Animal name/race Contains keyword", "AnimalNameOrRace")</p>
<p>@Html.ActionLink("Find Veterinarians by Keyword", "Veterinarians")</p>
<p>@Html.ActionLink("Find by Postal Code", "FindByPostalCode")</p>


